
@{
    ViewBag.Title = "Index";
}

<!--How to insert the Model into HTML file ?-->
<h5>OrderID</h5>
<h5>Product Name</h5>
<h5>Quantity</h5>
<h5>Order Status</h5>
<h5>Vendor</h5>
<h5>Inventory</h5>


