@using System.Collections
@using MaterialTracking.Web.Models
@model List<AssemblyViewModel>
@{
    ViewBag.Title = "Assembly Management";
}

<div style="height: 100%;">
    @(Html.Kendo().Grid(Model)
          .Name("gridAssembly")
          .Columns(columns =>
          {
              columns.Bound(a => a.AssemblyItemID).Visible(false);
              columns.Bound(a => a.Name).Title("Name");
              columns.Bound(a => a.Quantity).Title("Quantity");
              columns.Bound(a => a.IsActive).Title("Active");
              columns.Command(command =>
              {
                  command.Edit();
                  command.Destroy();
              });
          })
          .ToolBar(tb =>
          {
              tb.Create();
          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("AssemblyEditor"))
          .Sortable()
          .ColumnMenu()
          .Filterable()
          .HtmlAttributes(new { style = "height: 100%;" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(true)
              .Model(m =>
              {
                  m.Id(c => c.AssemblyItemID);
              })
              .Update(u => u.Action("AssemblyItemUpdate", "AssemblyItem"))
              .Create(u => u.Action("AssemblyItemCreate", "AssemblyItem"))
              .Destroy(u => u.Action("AssemblyItemDestroy", "AssemblyItem"))
              ))

    <br />

</div>


