@using MaterialTracking.Types

@{
    ViewBag.Title = "Inventory Management";
}

<div style="height: 100%;">
    @(Html.Kendo().Grid<Inventory>()
          .Name("gridModules")
          .Columns(columns =>
          {
              columns.Bound(a => a.InventoryID).Title("Inventory");
              columns.Bound(a => a.ProductID).Title("Product");
              columns.Bound(a => a.ZoneID).Title("Zone");
              columns.Command(command =>
              {
                  command.Edit();
                  command.Destroy();
              });
          })
          .ToolBar(tb =>
          {
              tb.Create();
          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Sortable()
          .ColumnMenu()
          .Filterable()
          .AutoBind(true)
          .HtmlAttributes(new { style = "height: 100%;" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model =>
              {
                  model.Id(p => p.InventoryID);
              })
              .Read(read => read.Action("InventorySelectAll", "Inventory"))
              .Update(update => update.Action("InventoryUpdate", "Inventory"))
              .Create(create => create.Action("InventoryCreate", "Inventory"))
              .Destroy(destroy => destroy.Action("InventoryDestroy", "Inventory")))
    )
</div>

