@using System.Collections
@using MaterialTracking.Web.Models
@model List<ZoneViewModel>

@{
    ViewBag.Title = "Zone Management";
}
<div style="height: 100%;">
    @(Html.Kendo().Grid(Model)
          .Name("gridZone")
          .Columns(columns =>
          {
              columns.Bound(a => a.ZoneID).Visible(false);
              columns.Bound(a => a.SelectedZoneTypeID).Visible(false);
              columns.Bound(a => a.Name).Title("Zone");
              columns.Bound(a => a.ZoneTypeName).Title("Zone Type");
              columns.Bound(a => a.IsActive).Title("Active");
              columns.Command(command =>
              {
                  command.Edit();
                  command.Destroy();
              });
          })
          .ToolBar(tb =>
          {
              tb.Create();
          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ZoneEditor"))
          .Sortable()
          .ColumnMenu()
          .Filterable()
          .HtmlAttributes(new {style = "height: 100%;"})
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(true)
              .Model(m =>
              {
                  m.Id(c => c.ZoneID);
              })
              .Update(u => u.Action("ZoneUpdate", "Zone"))
              .Create(u => u.Action("ZoneCreate", "Zone"))
              .Destroy(u => u.Action("ZoneDestroy", "Zone"))
              ))

    <br />

    <div>
        <a href='@Url.Action("Index", "Inventory")'>Inventory</a>
    </div>

    <div>
        <a href='@Url.Action("Index", "ShippingItem")'>Shipping Items</a>
    </div>

    <div>
        <a href='@Url.Action("Index", "ZoneType")'>Zone Type</a>
    </div>

</div>
